html, body, #app, #app {
  height: 100%
}
body {
  background: conic-gradient(at -30% 30%, #2fcea9d7 18%, #0e0c75e7 28%, #1086bde7 40%);
  height: 100%;
}
.result-number {
  font-size: xx-large;
}
.btn-outline-secondary {
  background-color: white;
}
.plus-icon {
  margin-top: 2px;
  font-size: 30px;
}
.card {
  background: rgba(255, 255, 255, 0.3);
  border: 3px solid rgba(255, 255, 255, 0.5);
  margin-top: 12px;
  margin-bottom: 12px;
}
.card-header {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
.card-footer {
  background-color: rgba(255, 255, 255, 0);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
}
.home-card {
  max-width: 900px;
}
.function-container {
  margin: 16px;
}

.form-check-input:checked {
  background-color: rgb(90, 90, 90);
  border-color: white;
}
.form-control {
  border: none;
}
#digits-input {
  width: 80px;
  max-width: 100px;
}
.dictionary-ol li {
  list-style: disc;
}

/* react-clock */
.day-clock.react-clock__face {
  background-color: white;
}

.night-clock.react-clock__face {
  background-color: black;
}
.night-clock.react-clock__mark__body {
  background-color: white;
}
.night-clock.react-clock__hour-hand__body {
  background-color: white;
}
.night-clock.react-clock__minute-hand__body {
  background-color: white;
}
.night-clock.react-clock__hand__body react-clock__second-hand__body {
  background-color: red;
}
.night-clock.react-clock__mark__number {
  color: rgb(150, 150, 150);
}

.sunrise-clock.react-clock__face {
  background: linear-gradient(#3655d2, #44abd7, #96fff8e7, rgb(223, 255, 174), white);
}

.sunset-clock.react-clock__face {
  background: linear-gradient(rgb(159, 11, 100), #ff2121, #ff701de6, #f7ff1d);
}

.sunset-sunrise {
  padding-top: 16px;
}