html, body, #app, #app>div {
  height: 100%
}
body {
  background: linear-gradient(-135deg, #E4A972, #9941D8);
  height: 100%;
}
.result-number {
  font-size: xx-large;
}
.btn-outline-secondary {
  background-color: white;
}
.plus-icon {
  margin-top: 2px;
  font-size: 30px;
}
.card {
  background-color: rgba(255, 255, 255, 0.4);
  border: 3px solid rgba(255, 255, 255, 0.5);
}
.card-header {
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}
.card-footer {
  background-color: rgba(255, 255, 255, 0);
  border-top: 3px solid rgba(255, 255, 255, 0.5);
}
.function-container {
  margin: 16px;
}

.form-check-input:checked {
  background-color: rgb(90, 90, 90);
  border-color: white;
}
.form-control {
  border: none;
}
#digits-input {
  width: 80px;
  max-width: 100px;
}
.dictionary-ol li {
  list-style: disc;
}

/* react-clock */
.react-clock__face {
  background-color: black;
}
.react-clock__mark__body {
  background-color: white;
}
.react-clock__hour-hand__body {
  background-color: white;
}
.react-clock__minute-hand__body {
  background-color: white;
}
.react-clock__hand__body react-clock__second-hand__body {
  background-color: red;
}
.react-clock__mark__number {
  color: rgb(150, 150, 150);
}